:root{
    --primary-color: #4696be;
}


*{
    box-sizing: border-box;
    color: #454545;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.block{
    background-color: var(--primary-color);
    box-sizing: border-box;
    position: absolute;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s cubic-bezier(0, 0.5, 0.1, 1);
}
.is-first{
    z-index: 2;
    border-radius: 50%;
    /*background-image: url('../img/snake.png');*/
    background-color: #8c3c3c;
    background-size: cover;
}
.mouse{
    background-image: url('../img/mouse.webp');
    background-color: rgba(0,0,0,0);
    box-shadow: none;
    background-size: cover;
}
#table{
    border: 2px red solid;
    position: relative;
    height: 100vh;
}


/*
    Game over Dialog
 */
#gameOver-box{
    background: #ffffff;
    position: fixed !important;
    top: 100px;
    left: calc((100% / 2) - 250px);
    display: flex;
    flex-direction: column;
    width: 500px;
    overflow: hidden;
    font-size: 2em;
    text-align: center;
    box-shadow: 0 0 15px lightgray;
    padding: 15px;
    border-radius: 15px;
}
.gb-hidden{
    visibility: hidden;
    opacity: 0;
}
.gb-visible{
    visibility: visible !important;
    opacity: 1;
}
.gameOverx-box-bottom{
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 20px;
}
.gameOver-box-bottom button {
    width: 40%;
    padding: 20px;
    border: none;
    color: #ffffff;
    border-radius: 30px;
}
#yesBtn:focus{
    background-color: #fff !important;
}
#yesBtn{
    background-color: var(--primary-color);
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}
#noBtn {
    background-color: #8c3c3c;
}

/* Pause box */
#pause-box{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.4);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
}
#pause-box h1{
    color: #ffffff;
    font-size: 2em;
}